In [ ]:
!uvicorn main:app --host localhost --port 5050

INFO:     Started server process [99442]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://localhost:5050 (Press CTRL+C to quit)
/Users/prateeksharma/Documents/Genre Prediction/server/API/extract_song_feature_links.py:67: UserWarning: PySoundFile failed. Trying audioread instead.
  x, sr = librosa.load("song.wav", sr=None, mono=True)
/Users/prateeksharma/Documents/Genre Prediction/server/API/extract_song_feature_links.py:58: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[0.02900229]' has dtype incompatible with float32, please explicitly cast to a compatible dtype first.
  features[name, 'mean'] = np.mean(values, axis=1)
INFO:     ::1:65289 - "POST /recommend HTTP/1.1" 200 OK

In [1]:

import pandas as pd

from sklearn.metrics.pairwise import cosine_similarity

from sklearn.preprocessing import MinMaxScaler
from pymongo import MongoClient
import os

MONGO_URI = "mongodb+srv://prateeks1110:prateeks.iu@recommendationdata.uywtlek.mongodb.net/?retryWrites=true&w=majority&appName=recommendationData"
client = MongoClient(MONGO_URI)
db = client["FMA_Recommendation"]
recommendation = db["recommendation"]
track_artist_genre = db["track_artist_genre"]


recommendation_data = pd.DataFrame(list(recommendation.find())).drop("_id",axis=1)
track_title_artist = pd.DataFrame(list(track_artist_genre.find())).drop("_id",axis=1)
recommendation_data.set_index("track_id")
track_title_artist.set_index("track_id")

,title,artist,genre_top
track_id,,,
2,Food,AWOL,Hip-Hop
3,Electric Ave,AWOL,Hip-Hop
5,This World,AWOL,Hip-Hop
10,Freeway,Kurt Vile,Pop
20,Spiritual Level,Nicky Cook,NaN
...,...,...,...
155316,The Auger,Spowder,Rock
155317,Let's Skin Ruby,Spowder,Rock
155318,My House Smells Like Kim Deal/Pulp,Spowder,Rock
155319,The Man With Two Mouths,Spowder,Rock
155320,Another Trick Up My Sleeve (Instrumental),Forget the Whale,NaN

In [3]:
recommendation_data

,track_id,Rock,Electronic,Pop,Hip-Hop,Folk,interest,favorites,listens
0,2,0.003639,0.010459,0.009752,0.974635,0.001515,4656,2,1293
1,3,0.045891,0.044842,0.106042,0.785288,0.017937,1470,1,514
2,5,0.005435,0.020162,0.036643,0.930348,0.007411,1933,6,1151
3,10,0.162003,0.133598,0.663075,0.021528,0.019796,54881,178,50135
4,134,0.030814,0.061230,0.042618,0.854423,0.010914,1126,3,943
...,...,...,...,...,...,...,...,...,...
32234,155315,0.973578,0.005273,0.014719,0.001956,0.004475,153,1,128
32235,155316,0.995178,0.000831,0.001596,0.000050,0.002345,122,1,102
32236,155317,0.970530,0.010954,0.010181,0.000799,0.007536,194,1,165
32237,155318,0.994592,0.002137,0.002263,0.000290,0.000719,214,2,168
32238,155319,0.974155,0.012586,0.009682,0.001975,0.001603,336,0,294